body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #070414;
  font-family: "Source Code Pro", monospace;
}
div {
  box-sizing: border-box;
}
#cover {
  width: 300px;
  position: absolute;
  bottom: -20px;
  left: 28%;
  display: none;
}
.invisible {
  visibility: hidden;
}
#shop-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
}
#shop-container {
  justify-content: space-between;
  display: flex;
  position: relative;
  z-index: 1;
}
#shop h1 {
  z-index: 1;
  position: relative;
  color: #fff;
}
.card {
  padding: 15px;
  background: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: 0.2s;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card:hover {
  transform: scale(1.01);
  cursor: pointer;
  border: 1px solid rgb(78, 78, 78);
  background: #d3d3d3;
}
.card .c-header i {
  font-size: 60px;
}
.card .c-header {
  width: 100%;
  padding: 15px 5px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  background: #fefefe;
  text-align: center;
}
.card .c-header.reload-up {
  color: #13b34b;
}
.card .c-header.capacity-up {
  color: #d44005;
}
.card .c-header.speed-up {
  color: #0e9fb3;
}
.card .c-body p {
  margin-bottom: 0;
  text-align: center;
  color: #000;
  font-weight: 900;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #cacaca;
  margin-top: 5px;
}
.card p.level {
  background-color: #04ff69;
  border: 1px solid #04da5a;
}
/* #crosshair {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid black;
} */
.no-interact {
  pointer-events: none;
}
#battlefield {
  width: 1000px;
  height: 900px;
  background-image: url(../assets/grass2.png);
  background-position: center;
  background-size: cover;
  margin: 20px auto 20px;
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  visibility: hidden;
}
#tools {
  width: 1000px;
  visibility: hidden;
  margin: 10px auto;
}
#tools p {
  color: #fff;
}
#tools p span {
  padding: 2px 6px;
  border-radius: 5px;
  background: #fff;
  color: #222;
  font-weight: 700;
}
p,
button,
div {
  line-height: 1;
}
#hud {
  background: rgba(0, 0, 0, 0.2);
}
#hud span {
  color: #fff;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 3px 6px;
  margin: 2px;
}
#hud #round {
  background: #2d58a0;
  display: none;
}
.ui-text {
  padding: 7px 10px;
  background: rgb(237, 240, 82);
  color: #000;
  font-weight: 600;
  border-radius: 5px;
}
.ui-info {
  padding: 7px 10px;
  background: #2da032;
  color: #000;
  font-weight: 600;
  border-radius: 5px;
}
#tools div {
  display: inline-block;
}
.bullet-hole {
  position: absolute;
  width: 5px;
  pointer-events: none;
  height: 5px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 50%;
}
#clear {
  margin: auto;
}
img#player {
  position: absolute;
  bottom: -20px;
  left: 40%;
  z-index: 20;
  width: 60px;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}
.target {
  width: 100px;
  height: auto;
  position: absolute;
  top: 25px;
  left: 10px;
  z-index: 10;
  overflow: hidden;
  background: #ccc;
  outline: 1px solid #000;
}
.target img {
  width: 100%;
  pointer-events: none;
}
#messages {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 20px;
  font-weight: 500;
  visibility: hidden;
  color: #f1f1f1;
  background: rgb(126, 3, 9);
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#magazine {
  position: absolute;
  display: none;
  bottom: 4px;
  right: 5px;
  background: #000;
  background-image: url(../assets/cropped-black-metal-background.png);
  background-position: center;
  background-size: cover;
  padding: 3px 6px;
  border-radius: 5px;
}
.casualty {
  position: absolute;
  width: 110px;
  z-index: 1;
  top: 100px;
  left: 100px;
  pointer-events: none;
}
.casualty img {
  width: 100%;
  height: auto;
}
#magazine img {
  display: inline-block;
  max-width: 8px;
}
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  border: none;
  background: #fff;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}
button:hover {
  background: #ee2602;
  color: #fff;
}
.info-text {
  margin: 10px 0;
}
em {
  color: #fff;
}
.target-outer-ring {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  background-color: #ee2602;
  border: 1px solid #000;
  overflow: hidden;
  z-index: 10;
}
.target-inner-ring {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
.target-bullseye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ee2602;
}
label {
  color: #fff;
  font-weight: 900;
}
select {
  width: 150px;
  padding: 5px 30px 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 29.33px;
  line-height: 1;
  font-weight: 600;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-family: "Source Code Pro", monospace;
  background: url(../assets/dropdown.png) 96% / 15% no-repeat #fff;
}
.trooper {
  width: 70px;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
  transform: rotate(180deg);
  z-index: 10;
}
.trooper img {
  width: 100%;
  pointer-events: none;
}
#gameModal,
#shop {
  position: relative;
  max-width: 780px;
  overflow: hidden;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgb(240, 240, 240);
  background-image: url(../assets/introbanner.jpg);
  background-size: cover;
  background-position: top center;
  border-radius: 3px;
}
/* #modal-screen {
  display: none;
} */
#shop-modal {
  display: none;
}
#shop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#shop:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.modal-body {
  position: relative;
  z-index: 1;
}
#gameModal::after {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-body h1,
.modal-body h3,
.modal-body p {
  color: #fff;
}
.modal-body p {
  font-size: 16px;
  line-height: 1.3;
}
#modalRound {
  background: #2d58a0;
  color: #fff;
  display: inline-block;
  padding: 12px;
  width: auto;
  border-radius: 3px;
}
#modal-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.7);
}
.round-menu {
  margin-top: 10px;
}
.round-menu .round {
  width: 100%;
}
.round-menu #start,
#go-shop {
  border: 1px solid #000;
  padding: 12px 20px;
}
#go-shop {
  display: none;
}
.round-menu #start:hover {
  border-color: #ee2602;
}
.bg-caen {
  background-color: #79ffe8;
}
#roundSummary {
  margin-bottom: 20px;
}
.summary-item span {
  color: #000;
  font-weight: 900;
  padding: 0 5px;
  border-radius: 3px;
  background: #ffbf18;
}
#opponent-name {
  border: 1px solid #f1f1f1;
  background: #f1f1f1;
  color: #04020d;
  border-radius: 3px;
  padding: 4px 10px;
  display: inline-block;
  font-weight: 900;
  margin: 0;
}
#defeat-content {
  display: none;
}
